* {
  margin: 0;
  /* display: flex; */
  /* justify-content: space-between; */
}

.App {
  text-align:center
}


.Stripe1 {
  height: 100px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
background-color: blueviolet;
};


.Stripe2 {
  height: 100px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
background-color: red;
};


.Stripe3 {
  height: 100px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
background-color: blue;
};

.Stripe4 {
  height: 100px;
  width: 100%;
  /* display: flex;
  justify-content: center; */
background-color: green;
};